# Database URLs
DATABASE_URL="postgresql://postgres:12345@localhost:5432/capstone_test"
TEST_DATABASE_URL="postgresql://postgres:12345@localhost:5432/capstone_test"
# Auth0
AUTH0_DOMAIN="dev-weuazke8.us.auth0.com"
API_AUDIENCE="castingagency"
# Access Tokens
EXECUTIVE_PRODUCER_TOKEN="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlFmTkw2d0F6LUFxZzJKR21IcXFqNyJ9.eyJpc3MiOiJodHRwczovL2Rldi13ZXVhemtlOC51cy5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NjE2MDRiMDk3MmVmYTgwMDY5Y2IzMTk3IiwiYXVkIjoiY2FzdGluZ2FnZW5jeSIsImlhdCI6MTYzMzcwNjUwNywiZXhwIjoxNjMzNzkyOTA3LCJhenAiOiJIazFCdWw5NUFOcWtUeEtOY3Z3cUxoT293WVl2RzZXSiIsInNjb3BlIjoiIiwicGVybWlzc2lvbnMiOlsiZGVsZXRlOmFjdG9ycyIsImRlbGV0ZTptb3ZpZXMiLCJnZXQ6YWN0b3JzIiwiZ2V0Om1vdmllcyIsInBhdGNoOmFjdG9ycyIsInBhdGNoOm1vdmllcyIsInBvc3Q6YWN0b3JzIiwicG9zdDptb3ZpZXMiXX0.apvGndlYgFtj5zGMD1MRv_bJDtf2SC-qBm2hEMN0HEQRGqsOGch2kgfjzbmEZ7LnlDkSqOXEs85HeyBz2qmeWmAtBzM-ktpBRHIxgbXlFeMeYZ7MTq_vM1VeH1s3racQ89Uh2-HGINKb6-Jf7HqDuh3x6n7Bz7jlb7D0GIPZJBHEnclMd3yzdBmLHC9oAkl7-YCKAh7JDVQet2sz84HF8lcxvjxOA0W_k9FsHMMd6C6xB2d_pfmBYxNZlUlUD_3cSwejw9r787R3En7FdGjhyIMB36v1RqxNGoq3v7LMUXqBXK25Kk6REgy3xhW8FABh_y0akfWUwaYmzs-inN1Bzg"
CASTING_DIRECTOR_TOKEN="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlFmTkw2d0F6LUFxZzJKR21IcXFqNyJ9.eyJpc3MiOiJodHRwczovL2Rldi13ZXVhemtlOC51cy5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NjE2MDRiNjFmZTM5YmIwMDY5MjFlMmU1IiwiYXVkIjoiY2FzdGluZ2FnZW5jeSIsImlhdCI6MTYzMzcwNjkzMSwiZXhwIjoxNjMzNzkzMzMxLCJhenAiOiJIazFCdWw5NUFOcWtUeEtOY3Z3cUxoT293WVl2RzZXSiIsInNjb3BlIjoiIiwicGVybWlzc2lvbnMiOlsiZGVsZXRlOmFjdG9ycyIsImdldDphY3RvcnMiLCJnZXQ6bW92aWVzIiwicGF0Y2g6YWN0b3JzIiwicGF0Y2g6bW92aWVzIiwicG9zdDphY3RvcnMiXX0.I9y8epzeA3mtQ7fHxJEmYD7mKlxzacdbEller9ufoQYCJURBacy2PxqWhdB0_LUda9X2jeeXRN4K9MhQrePCc4nazC89VZSqI-7pdDyRZVR1zMj4cqkbYaeltsG_twZHtxfcVBcHNa9gQake9i6v4fm6jkoUi9jK21ME2uZNpHEvEjf6bM-8b4y4oWUu0wTgJfZZQTTTVFx8tSZSBhaZCjPacvuc7BLWRBdKp53rePWuYw1jhaGyoKlLDHIwmtsouybJzyVWG72u4eFtryqfS7lbPG0sFVU_H00QppOAWQXUCyB7O1ZJYGuVGvCldhEe_POxAFjOdNnmSd6MeluVkQ"
CASTING_ASSISTANT_TOKEN="eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IlFmTkw2d0F6LUFxZzJKR21IcXFqNyJ9.eyJpc3MiOiJodHRwczovL2Rldi13ZXVhemtlOC51cy5hdXRoMC5jb20vIiwic3ViIjoiYXV0aDB8NjE2MDRiOWMwMmIzZGQwMDcxYzY2N2NhIiwiYXVkIjoiY2FzdGluZ2FnZW5jeSIsImlhdCI6MTYzMzcwNzEyOCwiZXhwIjoxNjMzNzkzNTI4LCJhenAiOiJIazFCdWw5NUFOcWtUeEtOY3Z3cUxoT293WVl2RzZXSiIsInNjb3BlIjoiIiwicGVybWlzc2lvbnMiOlsiZ2V0OmFjdG9ycyIsImdldDptb3ZpZXMiXX0.MO5giVgZLB8_6aTttMMkPF3gLmh8BDt_fToUHjUJtQsWoFd60bvvr0fl8ha4AOJgp02h0fkfj5bqkKAdpvVnKskgXB-JjvZJO_7iWbpVJc0_zmH-2MLxoVNA9u18cDNMIqVgDsQVKtFH0Ah2eatwuTYN6qj-Sis2kR7xbXwWZShxa6qYUuF6qrfLyVs-UOqwOXKpQ0tS13dXN-owwU7bk66Xge5KtnU2dIOsg_EjLDyI4d7tol8ErE_hQOL0Xu6PYGnXAvYNBht3pGsIBLupqNxazHtA21R-sUxsKo6rBCLgpEI3Vj24qcOHxMHKzIc3lWm5JWh0R5_xQylMBqb0mg"